@import model.Award
@(awardList:List[Award],awardForm:Form[Award])(implicit message:Messages, session:Session, flash:Flash)
@implicitFC = @{ b3.horizontal.fieldConstructor("col-md-4", "col-md-8") }
@main("Awards Form") {
<div class="row">
    <div class="col-md-1"></div>
    <ul class="nav nav-tabs">
        <li><a href="#">Home</a></li>
        <li><a href="awards">Award</a></li>
        <li><a href="languages">Languages known</a></li>
        <li><a href="assignment">Assignment</a></li>
        <li><a href="programming">Programming</a></li>
        <li><a href="#">Intern</a></li>
    </ul>
</div>
<div class="col-md-3"></div>
<div class="col-md-7">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Award Id</th>
            <th>Award Name</th>
            <th>Year</th>
            <th></th>
            <th> <button class="btn btn-primary" data-toggle="modal" data-target="#add"
                         style="height:25px">
                Add
            </button></th>
        </tr>
        </thead>
        <tbody>
        <tr>@for(award <- awardList){
            <td>@award.id</td>
            <td>@award.name</td>
            <td>@award.year</td>
            <td> <button class="btn btn-default editButton"  value=@award.id data-toggle="modal" data-target="#edit" >
               Edit
            </button></td>

        </tr>
        }
        </tbody>
    </table>

</div>






<div class="modal fade" id="edit" role="dialog">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Award Edit</h4>
        </div>
        <div class="modal-content" style="height:300px;text-align:center;">
            <form id="userForm" style="margin-top:20px;">
                <div>
                    <label>Award Id</label>
                    <input type="text" name="id" readonly>
                    <br>
                    <br>
                    <label>Award Name</label>
                    <input type="text" name="name">
                    <br>
                    <br>
                    <label>Year</label>
                    <input type="text" name="year">
                </div>
                <div style="display:inline;">
                    <button class="btn btn-primary" type="submit" style="padding:10px">Save</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </form>

        </div>

    </div>

</div>

<div class="modal fade" id="add" role="dialog">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Award Add</h4>
        </div>
        <div class="modal-content" style="height:300px;text-align:center;">
            @b3.form(action=routes.UserController.addAward(),'id-> "addForm") {
            <div>

                <span>@b3.text(awardForm("username"),'_label -> "",'id -> "user", 'value ->session.get("username"),'style -> "display:none")</span>
                <span>@b3.text(awardForm("id"),'_label -> "ID",'id -> "id")</span>
                <span>@b3.text(awardForm("serialNo"),'_label -> "Serial No.")</span>
                <span>@b3.text(awardForm("name"),'_label -> "Name")</span>
                <span>@b3.text(awardForm("description"),'_label -> "Description")</span>
                <span>@b3.text(awardForm("year"),'_label -> "Year")</span>

            </div>
            <button class="btn btn-primary" type="submit" style="padding:10px" id="newsave">Save</button>
            }
            }



        </div>

    </div>

</div>



