@import model.Award
@(awardList:List[Award])
@main("Awards Form") {
<div class="col-md-3"></div>
<div class="col-md-7">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Award Id</th>
            <th>Award Name</th>
            <th>Year</th>
            <th></th>
            <th> <button class="btn btn-primary" data-toggle="modal" data-target="#add"
                         style="height:25px">
                Add
            </button></th>
        </tr>
        </thead>
        <tbody>
        <tr>@for(award <- awardList){
            <td>@award.id</td>
            <td>@award.name</td>
            <td>@award.year</td>
            <td> <button class="btn btn-default editButton"  data-id=@award.id data-toggle="modal" data-target="#edit" >
               Edit
            </button></td>

        </tr>
        }
        </tbody>
    </table>
</div>






<div class="modal fade" id="edit" role="dialog">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Award Edit</h4>
        </div>
        <div class="modal-content" style="height:300px;text-align:center;">
            <form id="userForm" style="margin-top:20px;">
                <div>
                    <label>Award Id</label>
                    <input type="text" name="id" readonly>
                    <br>
                    <br>
                    <label>Award Name</label>
                    <input type="text" name="name">
                    <br>
                    <br>
                    <label>Year</label>
                    <input type="text" name="year">
                </div>
                <div style="display:inline;">
                    <button class="btn btn-primary" type="submit" style="padding:10px">Save</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </form>

        </div>

    </div>

</div>

<div class="modal fade" id="add" role="dialog">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Award Add</h4>
        </div>
        <div class="modal-content" style="height:300px;text-align:center;">
            <form style="margin-top:20px;">
                <div>
                    <label>Award Id</label>
                    <input type="text" name="id">
                    <br>
                    <br>
                    <label>Award Name</label>
                    <input type="text" name="name">
                    <br>
                    <br>
                    <label>Award Serial</label>
                    <input type="text" name="serlno">
                    <br>
                    <br>
                    <label>Description</label>
                    <input type="text" name="desc">
                    <br>
                    <br>
                    <label>Year</label>
                    <input type="text" name="year">
                </div>
                <div style="display:inline;">
                    <button class="btn btn-primary" type="submit" style="padding:10px" id="newsave">Save</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </form>
            <script>
                $("#newsave").click(function(){

                $.post("/addAward",
                {
                id:$('input[name=id]').val(),
                serlno:$('input[name=serlno]').val(),
                name:$('input[name=name]').val(),
                description:$('input[name=desc]').val(),
                year:$('input[name=year]').val(),

});
});

            </script>

        </div>

    </div>

</div>

}


