@import model.Award
@(awardList:List[Award],awardForm:Form[Award])(implicit message:Messages, session:Session, flash:Flash)
@implicitFC = @{ b3.horizontal.fieldConstructor("col-md-4", "col-md-8") }
@main("Awards Form") {
<div>
    @b3.form(action=routes.LoginController.logout(),'id-> "logout") {
    <button class="btn btn-primary">Logout</button>
    }
</div>

<div class="col-md-3"></div>
<div class="col-md-7">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Award Id</th>
            <th>Award Serial No.</th>
            <th>Award Name</th>
            <th>Award Description</th>
            <th>Award Year</th>
            <th></th>
            <th></th>
            <th> <button class="btn btn-primary" data-toggle="modal" data-target="#addAwa"
                         style="height:25px">
                Add
            </button></th>
        </tr>
        </thead>
        <tbody>
        <tr>@for(award <- awardList){
            <td>@award.id</td>
            <td>@award.serialNo</td>
            <td>@award.name</td>
            <td>@award.description</td>
            <td>@award.year</td>
            <td> <button class="btn btn-default editButton"  data-id="@award.id" data-toggle="modal" data-target="#editAwa" >
                Edit
            </button></td>
            <td> <button class="btn btn-link deleteButton"  data-id="@award.id">
                Delete
            </button></td>
        </tr>
        }
        </tbody>
    </table>

</div>
<div class="modal fade" id="addAwa" role="dialog">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Award Add</h4>
        </div>
        <div class="modal-content" style="height:300px;text-align:center;">
            @b3.form(action=routes.UserController.addAward(),'id-> "addForm") {
            <div>

                <span>@b3.text(awardForm("username"),'_label -> "Username",'id -> "user")</span>
                <span>@b3.text(awardForm("id"),'_label -> "ID",'id -> "id")</span>
                <span>@b3.text(awardForm("serialNo"),'_label -> "Serial No.")</span>
                <span>@b3.text(awardForm("name"),'_label -> "Name")</span>
                <span>@b3.text(awardForm("description"),'_label -> "Description")</span>
                <span>@b3.text(awardForm("year"),'_label -> "Year")</span>
            </div>
            <button class="btn btn-primary" type="submit" style="padding:10px" id="newsave">Save</button>
            }
        </div>
    </div>
</div>

<script>

$("#addForm").submit(function(event){
event.preventDefault();
var values = $(this).serialize();
$.ajax({
url:"addAwardByAdmin",
type:"GET",
data:values,
success:function(data){
$("#addAwa").modal('hide');
window.location.reload();
},
error:function(data,status){
console.log(status);
}
});
});

</script>
<script>
$(".deleteButton").click(function(){
var id=$(this).attr('data-id');
$.ajax({
type:"POST",
url:"deleteAward/"+id,
success:function(data){
window.location.reload();
}
});
});
</script>

}
