@import model.Language
@(languageList:List[Language],languageForm:Form[Language])(implicit message:Messages, session:Session, flash:Flash)
@implicitFC = @{ b3.horizontal.fieldConstructor("col-md-4", "col-md-8") }
@main("Intern Language Form") {
<div class="col-md-3"></div>
<div class="col-md-7">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Language Known</th>
            <th>Frequency</th>
            <th></th>
            <th></th>
            <th> <button class="btn btn-primary" data-toggle="modal" data-target="#add">
                Add
            </button></th>
        </tr>
        </thead>
        <tbody>
        <tr>@for(language <- languageList){
            <td>@language.id</td>
            <td>@language.name</td>
            <td>@language.frequency</td>
            <td> <button class="btn btn-default editButton"  data-id=@language.id data-toggle="modal" data-target="#edit" >
                Edit
            </button></td>
            <td> <button class="btn btn-link deleteButton"  data-id=@language.id >
                Delete
            </button></td>

        </tr>
        }
        </tbody>
    </table>
</div>

<div class="modal fade" id="edit" role="dialog">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Language Edit</h4>
        </div>
        <div class="modal-content" style="height:300px;text-align:center;">
            @b3.form(action=routes.LanguageController.addLanguage(),'id-> "editForm") {
            <div>

                <span>@b3.text(languageForm("username"),'_label -> "",'id -> "user", 'value ->session.get("username"),'style -> "display:none")</span>
                <span>@b3.text(languageForm("id"),'_label -> "ID",'id -> "id", 'readonly -> "true")</span>
                <span>@b3.text(languageForm("name"),'_label -> "Name")</span>
                <span>@b3.text(languageForm("frequency"),'_label -> "Frequency")</span>

            </div>
            <button class="btn btn-primary" type="submit" style="padding:10px" id="editsave">Save</button>
            }

        </div>

    </div>

</div>

<div class="modal fade" id="add" role="dialog">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Language Add</h4>
        </div>
        <div class="modal-content" style="height:300px;text-align:center;">
            @b3.form(action=routes.LanguageController.addLanguage(),'id-> "addForm") {
            <div>

                <span>@b3.text(languageForm("username"),'_label -> "Username",'id -> "user")</span>
                <span>@b3.text(languageForm("id"),'_label -> "ID",'id -> "id")</span>
                <span>@b3.text(languageForm("name"),'_label -> "Name")</span>
                <span>@b3.text(languageForm("frequency"),'_label -> "Frequency")</span>

            </div>
            <button class="btn btn-primary" type="submit" style="padding:10px" id="newsave">Save</button>
            }
        </div>
    </div>
</div>

<script>
    $(".editButton").click(function(){
    var id=$(this).attr('data-id');
    $.get("getLanguageById/"+id, function(data,status){
    $("#id").val(data.id);
    $("#name").val(data.name);
    $("#frequency").val(data.frequency);
    });
    });
</script>
<script>

    $("#editForm").submit(function(event){
    event.preventDefault();
    var values= $("#editForm").serialize();
    $.ajax({
    url:"editLanguage",
    type:"GET",
    data:values,
    success:function(data){
    $("#edit").modal('hide');
   window.location.reload();
    }
    });
    });
</script>
<script>
    $("#addForm").submit(function(event){
    event.preventDefault();
    var values = $("#addForm").serialize();
    $.ajax({
    url:"addLanguageByAdmin",
    type:"GET",
    data:values,
    success:function(data){
    $("#add").modal('hide');
    window.location.reload();
    },
    error:function(data,status){
    console.log(status);
    }
    })
    })

</script>
<script>
     $(".deleteButton").click(function(){
    var id=$(this).attr('data-id');
    $.ajax({
    type:"POST",
    url:"deleteLanguage/"+id,
    success:function(data){
    window.location.reload();
    }
    });
 });
</script>

}



