@import model.Member
@(login:Form[Member])(implicit message:Messages, flash:Flash)
@implicitFC = @{ b3.horizontal.fieldConstructor("col-md-4", "col-md-8") }
@main("Login page") {
<div>
</div>


<div class="row" style="text-align:center;margin-top:12%">
    @b3.form(action=routes.LoginController.processLogin) {
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <p style="color:red">
            @if(flash.get("failure").isDefined){
            @flash.get("failure")}
        </p>
        <span>@b3.text(login("username"),'_label -> "Email")</span>
        <span>@b3.password(login("password"),'_label -> "Password")</span>
        <span>@b3.text(login("usertype"), '_label -> "", 'style ->"display:none")</span>

        <button type="submit" class="btn btn-primary" value="search">Submit!!</button>
    </div>
</div>
}


}
