@import model.ProgrammingLanguage
@(languageList:List[ProgrammingLanguage])
@main("Programming Language Form") {
<div class="row">
    <div class="col-md-1"></div>
    <ul class="nav nav-tabs">
        <li><a href="#">Home</a></li>
        <li><a href="awards">Award</a></li>
        <li><a href="languages">Languages known</a></li>
        <li><a href="assignment">Assignment</a></li>
        <li><a href="programming">Programming</a></li>
        <li><a href="#">Intern</a></li>
    </ul>
</div>
<div class="col-md-3"></div>
<div class="col-md-7">
<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Programming Language</th>
        <th>Frequency</th>
        <th></th>
        <th> <button class="btn btn-primary" data-toggle="modal" data-target="#add">
            Add
        </button></th>
    </tr>
    </thead>
    <tbody>
    <tr>@for(language <- languageList){
        <td>@language.id</td>
        <td>@language.name</td>
        <td>@language.frequency</td>
        <td> <button class="btn btn-default editButton"  data-id=@language.id data-toggle="modal" data-target="#edit" >
            Edit
        </button></td>

    </tr>
    }
    </tbody>
</table>
    </div>

<div class="modal fade" id="edit" role="dialog">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Programming Language Edit</h4>
        </div>
        <div class="modal-content" style="height:300px;text-align:center;">
            <form>
                <div>
                    <label>Id</label>
                    <input type="text" readonly>
                    <br>
                    <br>
                    <label>Language name</label>
                    <input type="text">
                    <br>
                    <br>
                    <label>Frequency</label>
                    <input type="text">
                </div>
                <div style="display:inline;">
                    <button class="btn btn-primary" type="submit" style="padding:10px">Save</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </form>

        </div>

    </div>

</div>


<div class="modal fade" id="add" role="dialog">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Programming Language Add</h4>
        </div>
        <div class="modal-content" style="height:300px;text-align:center;">
            <form>
                <div>
                    <label>Id</label>
                    <input type="text">
                    <br>
                    <br>
                    <label>Language name</label>
                    <input type="text">
                    <br>
                    <br>
                    <label>Frequency</label>
                    <input type="text">
                </div>
                <div style="display:inline;">
                    <button class="btn btn-primary" type="submit" style="padding:10px">Save</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </form>

        </div>

    </div>

</div>

}