@(str:String)(implicit message:Messages)
@implicitFC = @{ b3.horizontal.fieldConstructor("col-md-4", "col-md-8") }
@main("User page") {
<div class="container">
    <div class="col-md-1"></div>
<div class="row">
<ul class="nav nav-tabs">
    <li><a href="#">Home</a></li>
    <li><a href="awards">Award</a></li>
    <li><a href="languages">Languages known</a></li>
    <li><a href="assignment">Assignment</a></li>
    <li><a href="programming">Programming</a></li>
    @if(str=="admin"){
    <li><a href="interns">Intern</a></li>}
    <li>
        <div>
            @b3.form(action=routes.LoginController.logout(),'id-> "logout") {
            <button class="btn btn-default"><span class="glyphicon glyphicon-log-out"></span>Logout</button>
            }
        </div>
    </li>

</ul>
</div>
    }

    </div>
